/*	-------------------------------------
	:: Contact
	---------------------------------- */
	body.contact {

	}

	#contact-hero {
		padding-top: 5.5rem;
		padding-bottom: 9rem;
	}

	#contact-call-to-action {
		.five {
			align-self: center;
			z-index: 2;

			.content {
				position: relative;
				background: transparent url('../img/texture.jpg') 0 0 / 60rem 67.05rem repeat;
				max-width: 51rem;
				height: 34rem;
				width: 90%;
				padding: 5.5rem 12rem 5.5rem 7rem;
				margin-left: -7rem;
				margin-top: -5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				transition: all .35s ease 0s;

				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: 50%;
					right: 4rem;
					margin-bottom: -1.89285rem;
					width: 4.519rem;
					height: 3.7857rem;
					background: transparent url('../img/arrow_left.svg') 0 0 / cover repeat;

				}

				.h1 {
					@include font-size(4.1);
					margin-bottom: 0.5em;
				}

				* {
					color: white;
					margin-bottom: 0;
				}

				a {
					position: absolute;
					width: 100%;
					height: 100%;
					display: block;
					top: 0;
					left: 0;
					text-decoration: none;
					text-indent: -100vw;
				}

				.apng-image {
					position: absolute;
					bottom: 20%;
					right: -3.15rem;
					display: block;
					height: 2.5rem;
					width: 6.3rem;
					transition: all .35s ease 0s;

					@include retina() {
						display: none;
					}

					&:last-of-type {
						display: none;

						@include retina() {
							display: block;
						}

					}
				}

				&:hover,
				&:active,
				&:focus {
					transform: translateX(4px);

					.apng-image {
						transform: translateX(-16px);
					}
				}
			}
		}

		@include max-width(1100px) {
			.column {
				flex: 0 0 100%;

				.content {
					margin: -10vw auto 0 auto;
				}
			}
		}

		@include max-width(550px) {
			.column {
				&.five .content {
					padding: 7.5vw 25vw 7.5vw 7.5vw;
					height: auto;
					width: 95%;

					.apng-image {
						bottom: -1.25rem;
						right: calc(50% - 3.15rem);
					}
				}
			}
		}
	}


	#contact-three-links {
		.container {
			align-items: baseline;
		}

		.column {

			@include min-width(650px) {
				padding-left: 5rem;
			}

			@include max-width(900px) {
				width: 100%;
				flex: 0 0 100%;
				padding: 0;
				text-align: center;

				.content {
					max-width: 400px;
					margin: 0 auto;
				}

				&:not(:last-of-type) {
					.content {
						border-bottom: 1px solid $body-light;
					}
				}
			}

			p {
				margin-bottom: 1em;
			}
		}
	}
